.container-fluid {
  max-width: 1170px;
}
header {
  border-bottom: thin solid #6cb8fa;
  margin-bottom: 40px;
  margin-top: 60px;
  padding-bottom: 20px;
}
section {
  padding-bottom: 60px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
