body > section {
  background-color: #9ed0fb;
}
body > section:nth-child(2n) {
  background-color: #85c4fb;
}
header.background-flag {
  background-image: url(../../site/imgs/background-flag.PNG);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #3ba1f8;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 280px;
}
header.background-flag h1,
header.background-flag h2,
header.background-flag h3,
header.background-flag h4,
header.background-flag h5,
header.background-flag h6 {
  color: white;
  font-style: italic;
  text-transform: none;
  font-family: serif;
  line-height: 42.5px;
  vertical-align: middle;
  font-size: 20px;
  font-weight: normal;
}
header.background-flag.background-flag-left {
  background-position: -20px 0;
  background-size: cover;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin-left: 0;
  padding-left: 15px;
  text-align: left;
  width: 260px;
}