@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

body > section {
    background-color: @gray-lighter;
}

body > section:nth-child(2n) {
    background-color: @gray-light;
}

header {

    @png-width:280px;
    @png-height:40px;
    @background-position-x:-15px;
    @background-size: @png-width - @background-position-x;

    &.background-flag {
        background-image: url("../../site/imgs/background-flag.PNG");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: @gray-darker;
        text-align: center;
        .center-block;
        height: @png-height;
        width: @png-width;

        h1, h2, h3, h4, h5, h6 {
            color: white;
            font-style: italic;
            text-transform: none;
            font-family: serif;
            line-height: 42.5px;
            vertical-align: middle;
            font-size: 20px;
            font-weight: normal;
        }

        &.background-flag-left {            
            background-size: @background-size;
            background-position:@background-position-x 0;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            margin-left: 0;
            padding-left: 15px;
            text-align: left;
        }
    }
}
