.absolute-center-vertical(@height) {
    height: @height;
    margin-top: -@height / 2;
    position: absolute;
    top: 50%;
}

.absolute-center-horizontal(@width) {
    height: @width;
    margin-left: -@width / 2;
    position: absolute;
    left: 50%;
}

.center-a-child-inline-block() {
    // http://stackoverflow.com/questions/1833734/display-inline-block-extra-margin
    text-align: center;
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
}