@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";
@import "../bootstrap/type.less";

html {
    color: black;
}

h1, h2, h3, h4, h5, h6, nav {
    text-transform: uppercase;
}

header {
    h1, h2, h3, h4, h5 {
        font-weight: 600;
    }

    .text-center;
}

.double-spaced {
    line-height: 1.75 * @line-height-base;
}
