<article id="about-us" class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="page-header page-header-top">
                <h1>About Us</h1>
                <p class="content">The Orchard team is a small group of developers who are passionate about delivering open source solutions on .NET technology.</p>
            </header>
        </div>
    </div>
    <section>
        <header class="page-header">
            <h2 id="team">Team</h2>
        </header>
        <h3>Steering Committee <small><a href="http://groups.google.com/group/orchard-gov">(governance)</a></small></h3>
        <div class="teamRoster">
            <div class="photo">
                <img alt="Bertrand Le Roy" src="https://storageorchard.blob.core.windows.net/media/Default/Team/HorribleBleroy.jpg">
            </div>
            <div class="info">
                <p><strong>Bertrand Le Roy | Benevolent Dictator</strong></p>
                <p>Location: Redmond, WA | Timezone: GMT-8 | <a href="http://nwazet.com">[nwazet</a> | Blog:&nbsp;<a href="http://weblogs.asp.net/bleroy/">http://weblogs.asp.net/bleroy</a> | Twitter:&nbsp;<a href="http://twitter.com/bleroy/">@@bleroy</a> | LinkedIn:&nbsp;<a href="http://www.linkedin.com/in/beleroy">beleroy</a></p>
                <p>Bertrand started his professional developer career in 1982 when he published his first video game. He then spent a few years studying math and physics, got a Ph.D. and then went back to software development. He released in 2002 what was probably the first CMS to run on ASP.NET. A year later, he was hired by Microsoft’s ASP.NET team and moved to the US. He has worked on ASP.NET versions 2.0 to 4.0, ASP.NET Ajax, contributed to making jQuery an official part of the .NET developer’s tool chest and represented Microsoft in the OpenAjax Alliance’s steering committee. He is now the Director of Creativity and founder of <a href="http://nwazet.com">[nwazet</a>. In his spare time, he’s a gamer, a pretty good skier, a very mediocre golfer and he wonders who really reads bios.</p>
            </div>
        </div>
        <div class="teamRoster">
            <div class="photo"><img width="130" height="130" alt="" src="https://storageorchard.blob.core.windows.net/media/Default/Team/sebros.png"></div>
            <div class="info">
                <p><strong>Sebastien Ros | Developer</strong></p>
                <p>Location: Redmond, WA&nbsp;| Timezone: GMT-8 | <a href="http://www.microsoft.com">Microsoft</a> | Blog:&nbsp;<a href="http://sebastienros.com">http://sebastienros.com</a>&nbsp;&nbsp;| Twitter:&nbsp;<a href="http://twitter.com/sebastienros/">@@sebastienros&nbsp;</a></p>
                <p>Sebastien was born in famous French Bordeaux town, where he started programming at age of 11. In 2001 he co-founded a Microsoft .NET specialized company named Evaluant, where he had been giving training and consultancy services on the .NET platform since then. He has worked on different open source .NET projects like an ORM (<a href="http://euss.codeplex.com">http://euss.codeplex.com</a>), a Javascript interpreter (<a href="http://jint.codeplex.com">http://jint.codeplex.com</a>) and a mathematical expressions evaluator (<a href="http://ncalc.codeplex.com">http://ncalc.codeplex.com</a>). In parallel he was giving courses at university, teaching software development, web technology and content management. In his spare time he supports his native soccer team, enjoys mountain biking and listens James Taylor songs too much.</p>
            </div>
        </div>
        <div class="teamRoster">
            <div class="photo"><img alt="Sipke Schoorstra" src="https://storageorchard.blob.core.windows.net/media/Default/Team/Sipke.jpg"></div>
            <div class="info">
                <p><strong>Sipke Schoorstra | Developer</strong></p>
                <p>Location: Amsterdam, The Netherlands | Timezone: GMT+1 (+2 in the Summer time) | Blog:&nbsp;<a href="http://skywalkersoftwaredevelopment.net/blog">http://skywalkersoftwaredevelopment.net/blog</a> | Twitter:&nbsp;<a href="http://twitter.com/sfmskywalker">@@sfmskywalker</a></p>
                <p>I grew up in Bergen, Noord-Holland with my 8 bit NES and later my self-earned 16 bit SNES by being a paperboy. Inspired by games like Mario, Zelda, Mystic Quest &amp; Secret Of Mana, I knew that I wanted to create games myself and started drawing heroes, dragons, elves and trees (I should mention girls as well). But I wanted more, so at some point I sold my game consoles and bought a PC with Klik &amp; Play and Macromedia Director and learned to script, which provided me with a great preparation for the multimedia study I started the year after. During this period I moved on to C++ and DirectX which gave me the confidence that I could actually become a programmer. At some point a company invited me to work for them and that’s how I got into the Internet of things. Since then, I’ve worked for a variety of companies building a vast range of .NET applications, including for the web, desktop, servers, and embedded systems. In 2003 I started as a freelancer and developed a new CMS along the way to serve my clients. During that time I found out how hard it is to maintain and evolve a CMS all by yourself, so at some point I started looking for an open source CMS. Being in love with MVC, I was content when I found out about Oxite, but mesmerized when I found out about Orchard.</p>
                <p>In my spare time, I enjoy reading, blogging, jogging, working on personal projects and dreaming about my next killer RPG.</p>
            </div>
        </div>
        <div class="teamRoster">
            <div class="photo"><img width="130" height="130" alt="" src="https://storageorchard.blob.core.windows.net/media/Default/Team/piotr1.png"></div>
            <div class="info">
                <p><strong>Piotr Szmyd</strong></p>
                <p>Location: Warsaw, Poland | Timezone: GMT+1 | <a href="http://www.proligence.pl/">PROLIGENCE</a> | Blog:&nbsp;<a href="http://www.szmyd.com.pl">http://www.szmyd.com.pl</a> | Twitter:&nbsp;<a href="http://twitter.com/pszmyd/">@@pszmyd</a> | LinkedIn:&nbsp;<a href="http://www.linkedin.com/in/pszmyd">pszmyd</a></p>
                <p>Piotr started his programming adventure as a kid somewhere in the 90’s. Although being in love with computers, he went to study medicine on Warsaw Medical University. He also started pursuing his BSc degree in CS on Warsaw University in parallel, so not to lose touch with programming. Since then, he’s been using .NET as his platform of choice working on web-based projects for different companies. In 2010 he came across a barely known project called Orchard… And he’s been utilizing it in every day work since then. In his spare time, besides doing OSS work, Piotr enjoys travelling, photography, playing the guitar and cooking experiments.</p>
            </div>
        </div>
        <div class="teamRoster">
            <div class="photo"><img width="130" height="130" alt="Ylan" src="https://storageorchard.blob.core.windows.net/media/Default/Team/Ylan.jpg"></div>
            <div class="info">
                <p><strong>Ylan Kunstler</strong></p>
                <p>Location: Los Angeles, CA | Timezone: GMT-8 | <a href="http://www.onestop.com">Onestop</a> | Twitter:&nbsp;<a href="http://twitter.com/ylank/">@@ylank</a> | LinkedIn: <a href="http://www.linkedin.com/in/ylankunstler">ylankunstler</a></p>
                <p>Ylan is the founder and producer of the Orchard Harvest conferences. He is a major Orchard framework advocate and currently serves as an Orchard Community Board member. His current mission is to bring together Orchard enthusiasts and to foster community building around the globe as well as play a major role in developing the Orchard product roadmap.</p>
                <p>In addition to his involvement with Orchard, Ylan currently leads the new product platform development team at Onestop - a full-service technology company that provides e-commerce, multichannel, and interactive marketing solutions for its Client partners.</p>
                <p>As an active member of the tech community, Ylan is always looking to leverage his network to assist other Start Up entrepreneurs and technologists who simply dare to try!</p>
            </div>
        </div>
        <h3>Contributors</h3>
        <div class="teamRoster">
            <div class="photo"><img width="130" height="130" alt="" src="https://storageorchard.blob.core.windows.net/media/Default/Team/nickmayne.jpg"></div>
            <div class="info">
                <p><strong>Nicholas Mayne</strong></p>
                <p>Location: London, UK | Timezone: GMT | Blog:&nbsp;<a href="http://themayneissue.com/">http://themayneissue.com/</a> | Twitter:&nbsp;<a href="http://twitter.com/NicholasMayne/">@@NicholasMayne</a></p>
                <p>Nick started programming as a kid on a BBC Basic computer from the age of 6 and grew up on DOS when his dad brought home a 286. He then went to university some years later to study Software Engineering, and in 2005 he started his professional career. His open source interest actually started when he came across a code dump on Codeplex in December 2009 from a little known project called Orchard. In his spare time he enjoys travelling, playing football and watching way too many movies.</p>
            </div>
        </div>
        <div class="teamRoster">
            <div class="photo"><img alt="Michael Bach" src="https://storageorchard.blob.core.windows.net/media/Default/Team/mibach.png"></div>
            <div class="info">
                <p><strong>Michael Bach | Program Manager</strong></p>
                <p>Location: Redmond, WA | Timezone: GMT-8 | Website: <a href="http://www.michaeldorian.com ">http://www.michaeldorian.com </a></p>
                <p>Michael Dorian Bach lives in Seattle with his wife Aubrey and his 3 computers. Michael has an educational background in design and spent the majority of his adult life designing, building, and launching web experiences for a ton of clients and agencies. With that experience in hand, Michael eventually landed in Redmond as a technical product manager working on making the Microsoft Web Platform an awesome platform for web “people” by launching the Microsoft Web Platform Installer and Open Source Web Application Gallery. Currently Michael is a program manager on the Web Platform’s team working on the UX for WebMatrix and a hand full of other products that make up the Web developer and designer experience at Microsoft.</p>
            </div>
        </div>
        <div class="teamRoster">
            <div class="photo"><img alt="Chris Bower" src="https://storageorchard.blob.core.windows.net/media/Default/Team/ChrisBower.jpg"></div>
            <div class="info">
                <p><strong>Chris Bower | Developer</strong></p>
                <p>Location: Richmond, VA | Timezone: GMT-5 | Blog:&nbsp;<a href="http://chrisbower.com">http://chrisbower.com</a> | Twitter:&nbsp;<a href="http://twitter.com/chrisbower/">@@chrisbower</a> | LinkedIn:&nbsp;<a href="http://www.linkedin.com/in/chrisbower">http://www.linkedin.com/in/chrisbower</a></p>
                <p>Chris got his start programming in BASIC at 7 years old when his dad brought home a book of games to copy code from. His first office job was at 13 years old, installing MS Mail servers and writing miscellaneous applications. He has since held a variety of positions including the Development Team Lead for Townhall.com, owned his own consulting practice writing iPhone and web applications, and now serves as the Lead Web Devleoper for the American Center for Law and Justice. For fun, Chris enjoys singing &amp; writing music, playing entirely too much Xbox 360, and flying R/C helicopters.</p>
            </div>
        </div>
        <div class="teamRoster">
            <div class="photo"><img alt="Suha Can" src="https://storageorchard.blob.core.windows.net/media/Default/Team/suhacan.jpg"></div>
            <div class="info">
                <p><strong>Suha Can | Developer</strong></p>
                <p>Location: Redmond, WA | Timezone: GMT-8</p>
                <p>Coding for the better half of his 27 years, Suha moved to the US in 2007 to join ASP.NET team as a Software Engineer, where he worked on various components such as the ASP.NET Cache, Session State, Browser Capabilities and Code Access Security. In his prior life he was building firmware for wireless routers and networking equipment based on open source systems. He enjoys riding his motorcycle and playing MMORPGs. His passion is to build systems to facilitate application development for developers and non-developers alike. He sometimes dreams of the times when people will give each other self-brewed software as birthday presents.</p>
            </div>
        </div>
        <div class="teamRoster">
            <div class="photo"><img alt="Louis de Jardin" src="https://storageorchard.blob.core.windows.net/media/Default/Team/lodejard.png"></div>
            <div class="info">
                <p><strong>Louis DeJardin | Developer</strong></p>
                <p>Location: Redmond, WA | Timezone: GMT-8 | Blog:&nbsp;<a href="http://whereslou.com/">http://whereslou.com/</a></p>
                <p>Louis DeJardin is a Senior Developer on the Microsoft ASP.NET team. He is shocked to realize he has eighteen years of experience developing software professionally on Microsoft platforms, and is the creator of the Spark open source view engine for ASP.NET MVC and Castle Project MonoRail.</p>
            </div>
        </div>
        <div class="teamRoster">
            <div class="photo"><img alt="Nathan Heskew" src="https://storageorchard.blob.core.windows.net/media/Default/Team/nheskew.jpg"></div>
            <div class="info">
                <p><strong>Nathan Heskew | Developer</strong></p>
                <p>Location: Redmond, WA | Timezone: GMT-8</p>
                <p>Nathan's all about his family, coffee, beer, web apps and, well, software in general. His first experience working on a real website was as a "Web Intern" at the University of Washington's Bothell campus. A few years at the UW, from intern to a full-time dev/sys admin for the web stack, were full of Perl, HTML and CSS and made a huge impact on how he'd view web development for a long time to come. More recently Nathan joined Microsoft a few years ago to work within MSN and from there joined up with the group that produces and runs the likes of Channel 9 and MIX Online. From the work our dev team did on MIX Online, Erik and I started work on what's now known as Oxite.</p>
            </div>
        </div>
        <div class="teamRoster">
            <div class="photo"><img alt="Bradley Millington" src="https://storageorchard.blob.core.windows.net/media/Default/Team/bradmi.png"></div>
            <div class="info">
                <p><strong>Bradley Millington | Engineering Lead</strong></p>
                <p>Location: Redmond, WA | Timezone: GMT-8</p>
                <p>Bradley Millington is a long-standing member of the ASP.NET and Visual Web Developer teams at Microsoft. Among his feature contributions are the 2.0 data controls, ASP.NET MVC tooling in Visual Studio, and SQL Express database support for Web applications. His passions outside of software include playing his guitar and making plants grow, despite his occassional neglect.</p>
            </div>
        </div>
        <div class="teamRoster">
            <div class="photo"><img alt="Renaud Paquay" src="https://storageorchard.blob.core.windows.net/media/Default/Team/rpaquay.jpg"></div>
            <div class="info">
                <p><strong>Renaud Paquay | Development Lead</strong></p>
                <p>Location: Redmond, WA | Timezone: GMT-8</p>
                <p>Renaud has been programming for more than 25 years, professionally for about half of that time. His first application was a clone of the original Breakout game, written in Z80 assembler on a ZX-81 computer with a (mind blowing) 16-KB ram add-on. After living and working in Belgium for most of his life, he moved to the United States almost 8 years ago and joined Microsoft to work in the C# team on the C# debugger and then on C# IntelliSense. He worked on the internal architecture of the C# IntelliSense engine as well implemented features such as Code Colorization, Rename, Extract Method and Edit and Continue. He moved to the ASP.NET team in February 2009 to help establish the Orchard project. In his spare time, Renaud enjoys playing video games (any platform as long as the game is good), biking, running and cooking.</p>
            </div>
        </div>
        <div class="teamRoster">
            <div class="photo"><img alt="Dave Reed" src="https://storageorchard.blob.core.windows.net/media/Default/Team/davreed.png"></div>
            <div class="info">
                <p><strong>Dave Reed | Developer</strong></p>
                <p>Location: Redmond, WA | Timezone: GMT-8 | | Blog:&nbsp;<a href="http://weblogs.asp.net/infinitiesloop">http://weblogs.asp.net/infinitiesloop</a> | Twitter:&nbsp;<a href="http://twitter.com/infinitiesloop/">@@infinitiesloop</a></p>
                <p>Dave was born and raised in the Los Angeles, California area. He started dabbing in programming immediately upon getting his first computer for Christmas when he was 12, developing scripts and native clients for popular (at the time) BBS games like TradeWars 2002 and MajorMud. He has been working in the industry professionally for 12 years, focused on Microsoft platforms. He joined the ASP.NET team at Microsoft in 2006, working on ASP.NET 3.5 and ASP.NET Ajax, and more recently, a developer for the official jQuery plugins from Microsoft. He has a wife of 7 years and a 2 year old daughter keeping him on his toes. In his free time, he enjoys blogging, gaming, and working on personal programming projects.</p>
            </div>
        </div>
        <div class="teamRoster">
            <div class="photo"><img alt="André Rodrigues" src="https://storageorchard.blob.core.windows.net/media/Default/Team/andrerod.jpg"></div>
            <div class="info">
                <p><strong>André Rodrigues | Developer</strong></p>
                <p>Location: Redmond, WA | Timezone: GMT-8</p>
                <p>André was born in the small Portuguese city of Leiria. Pursuing his passion for software he moved to Porto, Portugal and then Delft, Netherlands to pursue studies in Computer Science. After graduation, in 2008, he joined Microsoft in Copenhagen to work in the ERP application Microsoft Dynamics. In September 2010 he joined the Orchard team at Microsoft in Redmond following his wishes to move into a web environment having in his tool belt the experience of developing large software systems. In his spare time, he enjoys playing guitar, reading and traveling to new and different places.</p>
            </div>
        </div>
        <div class="teamRoster">
            <div class="photo"><img alt="Jonathan Wall" src="https://storageorchard.blob.core.windows.net/media/Default/Team/jowall.jpg"></div>
            <div class="info">
                <p><strong>Jonathan Wall | User Experience Designer</strong></p>
                <p>Location: Redmond, WA | Timezone: GMT-8 | Website:&nbsp;<a href="http://www.2coolkids.com/2cooldesign_v3/default.asp">2cool design</a></p>
                <p>Jon Wall was born and raised in Honolulu. He moved to Minnesota to earn his B.A. in Studio Art, where he met his wife of 17 years. Jon first started designing and developing Web sites in 1995. His Internet experience includes being a web designer at internet startup Blue Nile, one of the most successful online retail sites. He also designed for several of the Live Search properties including Live Maps. In June 2008 he joined the EPX team and is currently the UX designer for Orchard, Visual Studio Web tools, IIS, and ASP.net teams. On the weekend he enjoys drawing Unicorn flying ponies with his three daughters or showing them how to make a computer count up to 1 million.</p>
            </div>
        </div>
    </section>
    <section>
        <header class="page-header">
            <h2 id="contact">Contact Us</h2>
            <p>Sebastien loves to chat. Contact him any time on Skype.</p>
            <address>
                <a href="mailto:someMail@someDomain.com">sebross@lovestochat.com</a>                
            </address>
        </header>
    </section>
    <section>
        <header class="page-header">
            <h2 id="news">News</h2>
        </header>
        @{
            var itemsPerPage = 6;
            <ul class="list-unstyled">
                @for (var i = 0; i < itemsPerPage; ++i)
                {
                    <li>
                        <h3>News Item Title</h3>
                        <p>Posted by Sebastien Ross on 09/25/2014 at 7:37 PM</p>
                        <p>Since Orchard CMS doesn’t (yet) support authentication and authorization of domain users against an Active Directory, you have to install a module to achieve this. There are handful of modules which could help.</p>
                        <p><span>Tags:</span> Authentication, Active Directory</p>
                        <a href="">Read More</a>
                    </li>
                }
            </ul>
        }
    </section>
    <section>
        <header class="page-header">
            <h2 id="events">Events</h2>
        </header>
        @{
            <ul class="list-unstyled">
                @for (var i = 0; i < itemsPerPage; ++i)
                {
                    <li>
                        <h3>Event Title</h3>
                        <p>Posted by Sebastien Ross on 09/25/2014 at 7:37 PM</p>
                        <p>Since Orchard CMS doesn’t (yet) support authentication and authorization of domain users against an Active Directory, you have to install a module to achieve this. There are handful of modules which could help.</p>
                        <p><span>Tags:</span> Authentication, Active Directory</p>
                        <a href="">Read More</a>
                    </li>
                }
            </ul>
        }
    </section>
</article>