<article id="community" class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="page-header page-header-top">
                <h1>Community</h1>
                <p>Here are ways that interested developers can discuss and get connected to the project.</p>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div data-spy="affix" data-offset-top="225">
                <nav class="nav">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#popular">Popular Resources</a>
                            <ul class="list-unstyled">
                                <li><a href="http://orchard.codeplex.com">Codeplex <i class="glyphicon glyphicon-link"></i></a></li>
                                <li><a href="http://gallery.orchardproject.net">Modules & Themes <i class="glyphicon glyphicon-link"></i></a></li>
                                <li><a href="https://orchard.codeplex.com/discussions">Orchard Forums <i class="glyphicon glyphicon-link"></i></a></li>
                            </ul>
                        </li>
                        <li><a href="#blog">Community Blog</a></li>
                        <li><a href="#contribute">Contribute</a></li>
                        <li><a href="#chat">Chat</a></li>
                        <li><a href="#meetings">Weekly Meeting</a></li>
                        <li><a href="#communities">Communities</a></li>
                        <li><a href="#translate">Translate</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-9 vertical-rule-left">
            <section id="popular-resources">
                <header class="page-header"><h2>Popular Resources</h2></header>
                <div class="row">
                    <div class="col-md-4">
                        <figure>
                            <img src="~/Content/imgs/download.png" />
                            <figcaption>
                                <h5>Codeplex</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="http://orchard.codeplex.com" class="btn btn-default">Visit Site <span class="glyphicon glyphicon-chevron-right"></span></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4">
                        <figure>
                            <img src="~/Content/imgs/download.png" />
                            <figcaption>
                                <h5>Modules & Themes</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a class="btn btn-primary" href="http://gallery.orchardproject.net">Visit Site <span class="glyphicon glyphicon-chevron-right"></span></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4">
                        <figure>
                            <img src="~/Content/imgs/download.png" />
                            <figcaption>
                                <h5>Orchard Forums</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a class="btn btn-primary" href="https://orchard.codeplex.com/discussions">Visit Site <span class="glyphicon glyphicon-chevron-right"></span></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </section>
            <section id="community-blog">
                <header class="page-header"><h2>Community Blog</h2></header>
                <ul class="blogposts">
                    <li class="post">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="meta">December 15, 2013</p>
                                <h3>What the Hell is an Item Template?</h3>
                                <img src="~/Content/imgs/screenshot.png" />
                                <p>Theming in Orchard is a pretty vast subject. In the docs on theming for Orchard, it covers a hell of a lot of content. A good overview, but if you are still trying to wrap your head around what the hell is going on in Orchard, a bit overwhelming. A few people have found all the different ways of overriding displays, a tough one, so this post will try, and possibly fail, to address one aspect of templating: Item Templates.</p>
                                <a class="read-more" href="#"><h5>Read More <span class="glyphicon glyphicon-chevron-right"></span></h5></a>

                            </div>
                        </div>
                    </li>
                    <li class="post">
                        <p class="meta">December 15, 2013</p>
                        <h3>Weekly Podcast 12/10/2013</h3>
                        <img src="~/Content/imgs/screenshot.png" />
                        <p>
                            <ul>
                                <li>Lots of pull requests were pulled, including tenant info in logs, new role commands. Perf improvements to large file imports.</li>
                                <li>Changes in config for directories containing static resources cause problems potentially for all module and theme authors. Sebastien will look into it, but that may lead to not shipping an Orchard 1.8 before there is a new gallery, and that gallery might have to start empty, because many or most modules won't work.</li>
                            </ul>
                        </p>
                        <a class="read-more" href="#"><h5>Read More <span class="glyphicon glyphicon-chevron-right"></span></h5></a>
                    </li>
                </ul>
            </section>
            <section id="contribute">
                <header class="page-header"><h2>Contribute</h2></header>
                <p class="content">The Orchard Project is committed to open community participation. We encourage contributions of all sorts, including code submissions, documentation, translations, feature recommendations, general project feedback, and more. Here are some ways to give back to the project:</p>
                <p class="content"><strong>Modules</strong> - Orchard is built with modular extensibility in mind, and delivering a module that extends Orchard's built-in capabilities is one of the best ways to contribute to the project. You can <a href="http://orchard.uservoice.com">vote on module ideas</a> and then <a href="/docs">visit our documentation wiki</a> to get started building a module. You can easily share the modules that you built using our <a href="/gallery">gallery feed</a>. <a href="/docs/Creating-a-module-with-a-simple-text-editor.ashx">Learn more...</a></p>
                <ul class="list">
                    <li><a href="/docs/Creating-a-module-with-a-simple-text-editor.ashx">Writing a module</a></li>
                    <li><a href="/docs/Packaging-and-sharing-a-module.ashx">Packaging and sharing modules</a></li>
                </ul>
                <p class="content"><strong>Themes</strong> - Orchard introduces a powerful theme framework for customizing the look-and-feel of websites. We've included a great sample theme with Orchard that we hope will serve a a basis for lots of custom designs. Like modules, themes can be shared by submitting a package to our gallery feed.</p>
                <ul class="list">
                    <li><a href="/docs/Customizing-the-default-theme.ashx">Customizing the default theme</a></li>
                    <li><a href="/docs/Writing-a-new-theme.ashx">Writing a new theme</a></li>
                    <li><a href="/docs/Anatomy-of-a-theme.ashx">Anatomy of a theme</a></li>
                    <li><a href="/docs/Accessing-and-rendering-shapes.ashx">Accessing and rendering shapes</a></li>
                    <li><a href="/docs/Template-file-syntax-guide.ashx">Template file syntax guide</a></li>
                    <li><a href="/docs/Packaging-and-sharing-themes.ashx">Packaging and sharing themes</a></li>
                    <li><a href="/docs/UI-guidelines-for-theme-authors.ashx">UI guidelines for theme authors</a></li>
                </ul>
                <p class="content"><strong>Patches</strong> - For developers interested in contributing to the Orchard framework, we accept patches as pull requests from Mercurial forks. A good way to get started is to fix issues reported in our bug database.</p>
                <ul class="list">
                    <li><a href="/docs/Contributing-patches.ashx">Submitting a patch</a></li>
                    <li><a href="/docs/Code-conventions.ashx">Code guidelines</a></li>
                </ul>
                <p class="content"><strong>Docs</strong> - If you've figured out a cool way to do something with Orchard, we encourage you to share what you've learned with the rest of our community. You can create an account on GitHub in order to submit new articles or make edits to existing articles.</p>
                <ul class="list">
                    <li><a href="https://github.com/">Get a GitHub account</a></li>
                    <li><a href="https://github.com/OrchardCMS/OrchardDoc">The Orchard documentation project on GitHub</a></li>
                    <li><a href="docs/Documentation-style-guidelines.ashx">Documentation guidelines</a></li>
                </ul>
                <p class="content"><strong>Translations</strong> - Orchard can be localized to different languages by simply providing a text file of translations. We've set up a site for creating and sharing translation files.</p>
                <ul class="list">
                    <li><a href="/localize">Contributing translations</a></li>
                </ul>
                <p class="content"><strong>Sites</strong> - Have you built a cool site using Orchard? We'd love to hear about it!</p>
                <ul class="list">
                    <li><a href="mailto://ofeedbk@microsoft.com">Tell us about your site</a></li>
                </ul>
            </section>
        </div>
    </div>


</article>