<article id="community" class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="page-header">
                <h1>Community</h1>
                <p>Here are ways that interested developers can discuss and get connected to the project.</p>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <section id="links">
                <h4 class="active">Overview</h4>
                <h4>Documentation</h4>
                <h4>Codeplex <i class="fa fa-external-link"></i></h4>
                <h4>Modules & Themes <i class="fa fa-external-link"></i></h4>
                <h4>Orchard Forums <i class="fa fa-external-link"></i></h4>
                <h4>Community Blog</h4>
                <h4>Contribute</h4>
                <h4>Chat</h4>
                <h4>Weekly Meeting</h4>
                <h4>Communities</h4>
                <h4>Translate</h4>
                <h4>Partners</h4>
                <img src="Content/site/imgs/partner-site.PNG" alt="">
                <img src="Content/site/imgs/partner-site_2.PNG" alt="">
                <img src="Content/site/imgs/partner-site_3.PNG" alt="">
                <img src="Content/site/imgs/partner-site_4.PNG" alt="">
                <img src="Content/site/imgs/partner-site_5.PNG" alt="">
                <img src="Content/site/imgs/partner-site_6.PNG" alt="">
                <img src="Content/site/imgs/partner-site_7.PNG" alt="">
            </section>
        </div>
        <div class="col-md-9 vertical-rule-left">
            <section id="popular-resources">
                <div class="row">
                    <div class="col-md-12">
                        <header><h2>Popular Resources</h2></header>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <figure>
                            <img src="~/Content/site/imgs/download.png" />
                            <figcaption>
                                <h5>Documentation</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <button>Visit Site <span class="fa fa-angle-double-right"></span></button>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4">
                        <figure>
                            <img src="~/Content/site/imgs/download.png" />
                            <figcaption>
                                <h5>Codeplex</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <button>Visit Site <span class="fa fa-angle-double-right"></span></button>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4">
                        <figure>
                            <img src="~/Content/site/imgs/download.png" />
                            <figcaption>
                                <h5>Modules & Themes</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <button>Visit Site <span class="fa fa-angle-double-right"></span></button>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </section>
            <section id="community-blog">
                <div class="row">
                    <div class="col-md-12">
                        <header><h2>Community Blog</h2></header>
                    </div>
                </div>
                <ul class="blogposts">
                    <li class="post">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="meta">December 15, 2013</p>
                                <h3>What the Hell is an Item Template?</h3>
                                <img src="~/Content/site/imgs/screenshot.png" />
                                <p>Theming in Orchard is a pretty vast subject. In the docs on theming for Orchard, it covers a hell of a lot of content. A good overview, but if you are still trying to wrap your head around what the hell is going on in Orchard, a bit overwhelming. A few people have found all the different ways of overriding displays, a tough one, so this post will try, and possibly fail, to address one aspect of templating: Item Templates.</p>
                                <a class="read-more" href="#"><h5>Read More <span class="fa fa-angle-double-right"></span></h5></a>

                            </div>
                        </div>
                    </li>
                    <li class="post">
                        <p class="meta">December 15, 2013</p>
                        <h3>Weekly Podcast 12/10/2013</h3>
                        <img src="~/Content/site/imgs/screenshot.png" />
                        <p>
                            <ul>
                                <li>Lots of pull requests were pulled, including tenant info in logs, new role commands. Perf improvements to large file imports.</li>
                                <li>Changes in config for directories containing static resources cause problems potentially for all module and theme authors. Sebastien will look into it, but that may lead to not shipping an Orchard 1.8 before there is a new gallery, and that gallery might have to start empty, because many or most modules won't work.</li>
                            </ul>
                        </p>
                        <a class="read-more" href="#"><h5>Read More <span class="fa fa-angle-double-right"></span></h5></a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</article>