<article id="customers" class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="page-header page-header-top">
                <h1>Customers</h1>
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="alert alert-info">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <img data-src="holder.js/100%x400/sky/text:Featured" alt="...">
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p><a class="btn btn-primary btn-lg" role="button">Visit Site</a></p>

            </div>
        </div>
    </div>

    <section class="gallery">

        <header class="page-header"><h2>Site Gallery</h2></header>

        <div class="row">
            <div class="col-md-4">
                <a href="#" class="thumbnail thumbnail-customer">
                    <img data-src="holder.js/300x400/lava" alt="...">
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail thumbnail-customer">
                    <img data-src="holder.js/300x400/vine" alt="...">
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail thumbnail-customer">
                    <img data-src="holder.js/300x400/industrial" alt="...">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <a href="#" class="thumbnail thumbnail-customer">
                    <img data-src="holder.js/300x400/social" alt="...">
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail thumbnail-customer">
                    <img data-src="holder.js/300x400/sky" alt="...">
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail thumbnail-customer">
                    <img data-src="holder.js/300x400/sky" alt="...">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <a href="#" class="thumbnail thumbnail-customer">
                    <img data-src="holder.js/300x400/industrial" alt="...">
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail thumbnail-customer">
                    <img data-src="holder.js/300x400/social" alt="...">
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail thumbnail-customer">
                    <img data-src="holder.js/300x400/vine" alt="...">
                </a>
            </div>
        </div>


    </section>

</article>