<article id="documentation" class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="page-header page-header-top">
                <h1>Documentation</h1>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="alert alert-info">
                <p>
                    <strong>Note:</strong> This documentation site, like all of Orchard, is a <a href="/Contributors">community effort</a>.
                    If you would like to contribute, please see
                    <a href="http://docs.orchardproject.net/Documentation/Documentation-style-guidelines">Documentation Style Guidelines</a>
                    and <a href="http://docs.orchardproject.net/Documentation/Suggestions-for-New-Topics">Suggestions for New Topics</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <section id="getting-started">
                <header class="background-flag background-flag-left page-header">
                    <h2>Getting Started</h2>
                </header>
                <ul class="list-unstyled">
                    <li><a href="http://docs.orchardproject.net/Documentation/Installing-Orchard">Installing Orchard</a></li>
                    <li><a href="http://docs.orchardproject.net/Documentation/Manually-installing-Orchard-zip-file">Manually Installing Orchard Using a .zip File</a></li>
                    <li><a href="http://docs.orchardproject.net/Documentation/Working-with-Orchard-in-WebMatrix">Working with Orchard in WebMatrix</a></li>
                    <li><a href="http://docs.orchardproject.net/Documentation/Getting-around-the-dashboard">Getting Around the Dashboard</a></li>
                    <li><a href="http://docs.orchardproject.net/Documentation/Getting-Started">Building Your First Orchard Site</a></li>
                    <li><a href="http://docs.orchardproject.net/Documentation/Navigation-and-menus">Navigation and Menus</a></li>
                    <li><a href="http://docs.orchardproject.net/Documentation/Adding-a-blog-to-your-site">Adding a Blog to Your Site</a></li>
                    <li><a href="http://docs.orchardproject.net/Documentation/Adding-and-managing-media-content">Adding and Managing Media Content</a></li>
                    <li><a href="http://docs.orchardproject.net/Documentation/Managing-widgets">Managing Widgets</a></li>
                    <li><a href="http://docs.orchardproject.net/Documentation/Organizing-content-with-tags">Organizing Content Using Tags</a></li>
                    <li><a title="Use Custom Form to create subscribe and contact us pages in Orchard" href="http://docs.orchardproject.net/Documentation/Creating-Custom-Forms">Create Custom Forms</a></li>
                </ul>
            </section>
        </div>
        <div class="col-md-4">
            <section id="about-the-project">
                <header class="background-flag background-flag-left page-header">
                    <h2>About the Project</h2>
                </header>
                <ul class="list-unstyled">
                    <li><a href="http://docs.orchardproject.net/Documentation/Basic-Orchard-Concepts">Orchard Concept Definitions</a></li>
                    <li><a href="http://docs.orchardproject.net/Documentation/Builtin-features">A guide to all the built-in modules and features of Orchard</a></li>
                    <li><a href="http://docs.orchardproject.net/Documentation/feature-roadmap">What's Happening Now?</a></li>
                    <li><a href="http://docs.orchardproject.net/Documentation/frequently-asked-questions">Frequently Asked Questions</a></li>
                </ul>
            </section>
        </div>
        <div class="col-md-4">
            <section>
                <header class="background-flag background-flag-left page-header">
                    <h2>Getting Involved</h2>
                </header>
                <ul class="list-unstyled">
                    <li><a href="http://docs.orchardproject.net/Documentation/Contributing-documentation">Contributing Documentation</a></li>
                    <li><a href="http://docs.orchardproject.net/Documentation/Documentation-style-guidelines">Documentation Style Guidelines</a></li>
                    <li><a href="http://docs.orchardproject.net/Documentation/Contributing-patches">Contributing Patches</a></li>
                </ul>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <section id="tutorial-videos">
                <header class="background-flag background-flag-left page-header">
                    <h2>Tutorial Videos</h2>
                </header>
                <ul class="list-unstyled">
                    <li><a href="http://docs.orchardproject.net/Documentation/Orchard-TV">Tutorial videos about Orchard</a></li>
                </ul>
            </section>
        </div>
        <div class="col-md-4">
            <section id="user-experiences">
                <header class="background-flag background-flag-left page-header">
                    <h2>User Experiences</h2>
                </header>
                <ul class="list-unstyled">
                    <li><a href="http://docs.orchardproject.net/Documentation/walkthroughs">Walkthroughs and UI Mockups</a></li>
                </ul>
            </section>
        </div>
        <div class="col-md-4">
            <section>
                <header class="background-flag background-flag-left page-header">
                    <h2>Developer Tools &amp; Guidelines</h2>
                </header>
                <ul class="list-unstyled">
                    <li><a href="http://docs.orchardproject.net/Documentation/Developer-FAQ">Developer FAQ</a></li>
                    <li><a href="http://docs.orchardproject.net/Documentation/Setting-up-a-source-enlistment">Setting Up a Source Enlistment</a></li>
                    <li><a href="http://docs.orchardproject.net/Documentation/Source-code-organization">Source Code Organization</a></li>
                    <li><a href="http://docs.orchardproject.net/Documentation/Orchard-dependencies-and-libraries">Dependencies and Libraries</a></li>
                    <li><a href="http://docs.orchardproject.net/Documentation/Code-conventions">Code Conventions</a></li>
                    <li><a href="http://docs.orchardproject.net/Documentation/Continuous-integration">Continuous Integration</a></li>
                </ul>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <header class="background-flag background-flag-left page-header">
                <h2>Authoring Websites</h2>
            </header>
            <ul class="list-unstyled">
                <li><a href="http://docs.orchardproject.net/Documentation/Blogging-with-LiveWriter">Blogging with LiveWriter</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Creating-global-ready-applications">Creating Global-Ready Applications</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Search-and-indexing">Search and Indexing</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Saving-scheduling-and-publishing-drafts">Saving, Scheduling, and Publishing Drafts</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Creating-custom-content-types">Creating Custom Content Types</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <header class="background-flag background-flag-left page-header">
                <h2>Customizing Websites</h2>
            </header>
            <ul class="list-unstyled">
                <li><a href="http://docs.orchardproject.net/Documentation/Previewing-and-applying-a-theme">Previewing and Applying a Theme</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Installing-themes">Installing Themes</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Customizing-the-default-theme">Customizing Themes</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <header class="background-flag background-flag-left page-header">
                <h2>Using the Orchard Gallery</h2>
            </header>
            <ul class="list-unstyled">
                <li><a href="http://docs.orchardproject.net/Documentation/Gallery-overview">Gallery Overview</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Installing-modules-and-themes-from-the-gallery">Installing Modules and Themes from the Gallery</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Browsing-the-gallery-web-site">Browsing the Gallery Web Site</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Contributing-a-module-or-theme-to-the-gallery">Contributing a Module or Theme to the Gallery</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Module-gallery-feeds">Registering Additional Gallery Feeds</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <header class="background-flag background-flag-left page-header">
                <h2>Managing Websites</h2>
            </header>
            <ul class="list-unstyled">
                <li><a href="http://docs.orchardproject.net/Documentation/Enabling-and-disabling-features">Enabling and Disabling Features</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Using-the-command-line-interface">Using the Command-Line Interface</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Installing-and-upgrading-modules">Installing and Upgrading Modules</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Modifying-site-settings">Modifying Site Settings</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Moderating-comments">Moderating Comments</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Managing-users-and-roles">Managing Users and Roles</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Understanding-permissions">Understanding Permissions</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Making-a-Web-Site-Recipe">Making a Website Recipe</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Creating-an-image-gallery">Creating an Image Gallery</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Workflows">Workflows</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <header class="background-flag background-flag-left page-header">
                <h2>Hosting and Deploying Websites</h2>
            </header>
            <ul class="list-unstyled">
                <li><a href="http://docs.orchardproject.net/Documentation/Upgrading-a-site-to-a-new-version-of-Orchard">Upgrading a Site to a New Version of Orchard</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Optimizing-Performance-of-Orchard-with-Shared-Hosting">Optimizing Server Performance of Orchard Applications</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Whats-new-for-Windows-Azure-in-Orchard-1-7-1">What's New for Windows Azure in Orchard 1.7.1</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Deploying-Orchard-to-Windows-Azure">Deploying Orchard to Windows Azure</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Using-Windows-Azure-Blob-Storage">Using Windows Azure Blob Storage</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Using-Windows-Azure-Cache">Using Windows Azure Cache</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Running-Orchard-on-Mono">Running Orchard on Mono</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Setting-up-a-multi-tenant-orchard-site">Setting Up a Multi-Tenant Orchard Site</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Setting-up-a-machine-key">Setting up a Machine Key</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <header class="background-flag background-flag-left page-header">
                <h2>Extending Orchard</h2>
            </header>
            <ul class="list-unstyled">
                <li><a href="http://docs.orchardproject.net/Documentation/First-steps-into-Orchard">First Steps into Orchard</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/How-Orchard-works">How Orchard Works</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Command-line-scaffolding">Command-Line Code Generation</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Building-a-hello-world-module">Building a Hello World module</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Creating-a-module-with-a-simple-text-editor">Creating a Module with a Simple Text Editor</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Writing-a-content-part">Writing a Content Part</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Creating-a-custom-field-type">Writing a Content Field</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Packaging-and-sharing-a-module">Packaging and Sharing a Module</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Writing-a-widget">Writing a Widget</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Creating-1-n-and-n-n-relations">Creating <em>1-N</em> and <em>N-N</em> Relations</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/manifest-files">Manifest Files for Modules and Themes</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Caching">Caching</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <header class="background-flag background-flag-left page-header">
                <h2>Working with Data</h2>
            </header>
            <ul class="list-unstyled">
                <li><a href="http://docs.orchardproject.net/Documentation/Understanding-data-access">Understanding Data Access</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Understanding-content-handlers">Understanding Content Handlers</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <header class="background-flag background-flag-left page-header">
                <h2>Creating Themes</h2>
            </header>
            <ul class="list-unstyled">
                <li><a href="http://docs.orchardproject.net/Documentation/Writing-a-new-theme">Writing a New Theme</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Anatomy-of-a-theme">The Anatomy of a Theme</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Understanding-placement-info">Understanding the placement.info File</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Accessing-and-rendering-shapes">Accessing and Rendering Shapes</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Alternates">Alternates</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Template-file-syntax-guide">Template File Syntax Guide</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Packaging-and-sharing-themes">Packaging and Sharing Themes</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/UI-guidelines-for-theme-authors">UI Guidelines for Theme Authors</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Customizing-Orchard-using-Designer-Helper-Tools">Customizing Orchard Using Designer Helper Tools</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <header class="background-flag background-flag-left page-header">
                <h2>Additional Topics</h2>
            </header>
            <ul class="list-unstyled">
                <li><a href="http://docs.orchardproject.net/Documentation/Orchard-module-loader-and-dynamic-compilation">Orchard Dynamic Compilation</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/Configuring-Email">Configuring Email</a></li>
                <li><a href="http://docs.orchardproject.net/Documentation/archived-specs">Archived Specs</a></li>

            </ul>
        </div>
    </div>
</article>
