<article id="download" class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="page-header">
                <h1>Download</h1>
                <p>Orchard is currently a version 1.8 release (view the release notes and the requirements). We invite participation by the developer community in shaping the project's direction, so that we can publicly validate our designs and development approach. There are five ways you can install Orchard.</p>
            </header>
        </div>
    </div>
    <section id="recommended">
        <div class="row">
            <div class="col-md-6">
                <figure>
                    <header class="background-flag">
                        <h4>Recommended for Developers</h4>
                    </header>
                    <img src="~/Content/site/imgs/download.png" />
                    <figcaption>
                        <h5>Enlist</h5>
                        <p>Enlist in the source code and build from the command line or in Visual Studio.</p>
                        <button>View Installation Steps <span class="fa fa-angle-double-right"></span></button>
                        <a href="#">Download the source (30 MB)</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6">
                <figure>
                    <header class="background-flag">
                        <h4>Easy Setup</h4>
                    </header>
                    <img src="~/Content/site/imgs/download.png" />
                    <figcaption>
                        <h5>Microsoft WebMatrix</h5>
                        <p>Create, edit, and publish websites with unprecedented ease.</p>
                        <button>View Installation Steps <span class="fa fa-angle-double-right"></span></button>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
    <section id="other">
        <div class="row">
            <div class="col-md-12">
                <header><h2>Other Ways to Download</h2></header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img src="~/Content/site/imgs/download.png" />
                    <figcaption>
                        <h5>Web Platform Installer</h5>
                        <p>Easy to setup on your local machine using the Web Platform Installer.</p>
                        <button>View Installation Steps <span class="fa fa-angle-double-right"></span></button>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img src="~/Content/site/imgs/download.png" />
                    <figcaption>
                        <h5>.ZIP File</h5>
                        <p>Download a .zip file that contains everything you need to use Orchard.</p>
                        <button>View Installation Steps <span class="fa fa-angle-double-right"></span></button>
                        <a href="#">Download as a zip (21 MB)</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img src="~/Content/site/imgs/download.png" />
                    <figcaption>
                        <h5>Azure</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <button>View Installation Steps <span class="fa fa-angle-double-right"></span></button>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
    <section id="requirements">
        <div class="row">
            <div class="col-md-12">
                <header><h2>Requirements</h2></header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>The minimum requirements for running Orchard are the following:</p>
                <ul>
                    <li>ASP.NET 4</li>
                    <li>A web server such as IIS Express 8, 7.5 or IIS 7.x.</li>
                    <li>When installing IIS, make sure you enable the ASP.net IIS modules.</li>
                    <li>Also, make sure that you run Orchard in an integrated pipeline ASP.NET 4 application pool.</li>
                </ul>
                <p>To develop Orchard sites, many developers will want to use a database such as SQL Server, and a web page programming envinronment such as WebMatrix or VIsual Studio 2013. The following installation using the Web Platform Installer includes Orchard and IIS Express 7.5, and also includes optional applications for Orchard development, including WebMatrix and SQL Server Compact 4.0.</p>
            </div>
            <div class="col-md-6">
                <div class="alert alert-warning">
                    <p><strong>Important: </strong> If you previously installed any pre-release versions of WebMatrix, ASP.NET Web Pages, or ASP.NET MVC 4, you must uninstall those products before Orchard will run correctly on your computer. Also, if you plan to use Visual Studio with Orchard, prior to installing Orchard, install ASP.NET MVC 4 from the Web Platform Installer.</p>
                </div>
            </div>

        </div>
    </section>
</article>