<!-- Banner
================================================== -->


<section id="banner">
    <div id="carousel-banner" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <!--Item-->
            <div class="item active">
                <div class="banner-inner">
                    <!--<img src="Content/site/imgs/no-limits.jpg" />-->
                    <img src="Content/site/imgs/uncorn.jpg" />
                    <div class="caption">
                        <h1>No Limits</h1>
                        <div class="caption-body">
                            <p>Orhard is a free, open source, community-focused Content Management System built on the ASP.NET MVC platform.</p>
                            <ul>
                                <li>Orchard benefit 1 goes here.</li>
                                <li>Orchard benefit 2 goes here.</li>
                                <li>Orchard benefit 3 goes here.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Item-->
            <div class="item ">
                <div class="banner-inner">
                    <img src="Content/site/imgs/no-limits.jpg" />
                    <div class="caption">
                        <h1>No Limits</h1>
                        <div class="caption-body">
                            <p>Orhard is a free, open source, community-focused Content Management System built on the ASP.NET MVC platform.</p>
                            <ul>
                                <li>Orchard benefit 1 goes here.</li>
                                <li>Orchard benefit 2 goes here.</li>
                                <li>Orchard benefit 3 goes here.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-banner" data-slide="prev">
            <span class="fa fa-angle-left fa-3x"></span>

        </a>
        <a class="right carousel-control" href="#carousel-banner" data-slide="next">
            <span class="fa fa-angle-right fa-3x"></span>

        </a>
    </div>
</section>


<!-- Latest Post
================================================== -->


<section id="latest-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Latest Post</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Weekly Podcast 12.17.2013 <small>Posted by Steering Committee</small></p>
            </div>
            <div class="col-md-6">View Video</div>
        </div>
    </div>
</section>


<!-- Why Orhchard
================================================== -->


<section id="why-orchard">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header>
                    <h4>Why Choose Orchard?</h4>
                    <ol class="list-inline">
                        <li data-target="#carousel-why-choose" data-slide-to="0" class="active">For Developers</li>
                        <li data-target="#carousel-why-choose" data-slide-to="1">Project Managers</li>
                        <li data-target="#carousel-why-choose" data-slide-to="2">For Designers</li>
                    </ol>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--Carousel-->
                <div id="carousel-why-choose" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <!--Item-->
                        <div class="item active">
                            <div class="row">
                                <div class="col-md-7">
                                    <img src="Content/site/imgs/orchard-admin.png" />
                                </div>
                                <div class="col-md-5">
                                    <h4>For Developers</h4>
                                    <p class="double-spaced">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div>
                        <!--Item-->
                        <div class="item">
                            <div class="row">
                                <div class="col-md-7">
                                    <img src="Content/site/imgs/orchard-admin.png" />
                                </div>
                                <div class="col-md-5">
                                    <h4>Project Managers</h4>
                                    <p class="double-spaced">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div>
                        <!--Item-->
                        <div class="item">
                            <div class="row">
                                <div class="col-md-7">
                                    <img src="Content/site/imgs/orchard-admin.png" />
                                </div>
                                <div class="col-md-5">
                                    <h4>For Designers</h4>
                                    <p class="double-spaced">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*No carousel controls here... they are links at the top.*@
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Showcase
================================================== -->


<section id="showcase">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header>
                    <h4>Showcase</h4>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img src="Content/site/imgs/screenshot.png" />
                    <figcaption><h5>Client Name</h5></figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img src="Content/site/imgs/screenshot.png" />
                    <figcaption><h5>Client Name</h5></figcaption>
                </figure>
            </div><div class="col-md-4">
                <figure>
                    <img src="Content/site/imgs/screenshot.png" />
                    <figcaption><h5>Client Name</h5></figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img src="Content/site/imgs/screenshot.png" />
                    <figcaption><h5>Client Name</h5></figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img src="Content/site/imgs/screenshot.png" />
                    <figcaption><h5>Client Name</h5></figcaption>
                </figure>
            </div><div class="col-md-4">
                <figure>
                    <img src="Content/site/imgs/screenshot.png" />
                    <figcaption><h5>Client Name</h5></figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>


<!-- Features
================================================== -->


<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header>
                    <h4>Features</h4>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <figure>
                    <img src="Content/site/imgs/feature.png" />
                    <figcaption>
                        <h5>Feature Title</h5>
                        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit</small>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <figure>
                    <img src="Content/site/imgs/feature.png" />
                    <figcaption>
                        <h5>Feature Title</h5>
                        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit</small>
                    </figcaption>
                </figure>
            </div><div class="col-md-2 col-md-offset-1">
                <figure>
                    <img src="Content/site/imgs/feature.png" />
                    <figcaption>
                        <h5>Feature Title</h5>
                        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit</small>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <figure>
                    <img src="Content/site/imgs/feature.png" />
                    <figcaption>
                        <h5>Feature Title</h5>
                        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit</small>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <figure>
                    <img src="Content/site/imgs/feature.png" />
                    <figcaption>
                        <h5>Feature Title</h5>
                        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit</small>
                    </figcaption>
                </figure>
            </div><div class="col-md-2 col-md-offset-1">
                <figure>
                    <img src="Content/site/imgs/feature.png" />
                    <figcaption>
                        <h5>Feature Title</h5>
                        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit</small>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>


<!-- Community
================================================== -->


<section id="community">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <header>
                    <h4>Community</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">View All</a></p>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--Carousel-->
                <div id="carousel-community" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <!--Item-->
                        <div class="item active">
                            <div class="row">
                                <div class="col-md-2 col-md-offset-2 col-xs-10 col-xs-offset-1">
                                    <h5>
                                        Weekly Podcase
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <button class="btn btn-default">Visit Page</button>
                                </div>
                                <div class="col-md-2 col-md-offset-1 col-xs-10 col-xs-offset-1">
                                    <h5>
                                        Weekly Podcase
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <button class="btn btn-default">Visit Page</button>

                                </div>
                                <div class="col-md-2 col-md-offset-1 col-xs-10 col-xs-offset-1">
                                    <h5>
                                        Weekly Podcase
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <button class="btn btn-default">Visit Page</button>

                                </div>
                            </div>
                        </div>
                        <!--Item-->
                        <div class="item">
                            <div class="row">
                                <div class="col-md-2 col-md-offset-2 col-xs-10 col-xs-offset-1">
                                    <h5>
                                        Weekly Podcase
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <button class="btn btn-default">Visit Page</button>
                                </div>
                                <div class="col-md-2 col-md-offset-1 col-xs-10 col-xs-offset-1">
                                    <h5>
                                        Weekly Podcase
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <button class="btn btn-default">Visit Page</button>

                                </div>
                                <div class="col-md-2 col-md-offset-1 col-xs-10 col-xs-offset-1">
                                    <h5>
                                        Weekly Podcase
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <button class="btn btn-default">Visit Page</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-community" data-slide="prev">
                        <span class="fa fa-angle-left fa-3x"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-community" data-slide="next">
                        <span class="fa fa-angle-right fa-3x"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Partners
================================================== -->


<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <header>
                    <h4>Partners</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">View All</a></p>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--Carousel-->
                <div id="carousel-partners" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <!--Item-->
                        <div class="item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="Content/site/imgs/partner-square-pluralsite.PNG" alt="" />
                                </div>
                                <div class="col-md-4">
                                    <img src="Content/site/imgs/partner-square-outercurve.PNG" alt="" />
                                </div>
                                <div class="col-md-4">
                                    <img src="Content/site/imgs/partner-square-teamcity.PNG" alt="" />
                                </div>
                            </div>
                        </div>
                        <!--Item-->
                        <div class="item">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="Content/site/imgs/partner-square-pluralsite.PNG" alt="" />
                                </div>
                                <div class="col-md-4">
                                    <img src="Content/site/imgs/partner-square-outercurve.PNG" alt="" />
                                </div>
                                <div class="col-md-4">
                                    <img src="Content/site/imgs/partner-square-teamcity.PNG" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-partners" data-slide="prev">
                        <span class="fa fa-angle-left fa-3x"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-partners" data-slide="next">
                        <span class="fa fa-angle-right fa-3x"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



