<article id="support" class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="page-header page-header-top">
                <h1>Support</h1>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <p class="content">There are a couple ways that interested developers can discuss and get connected to the project:</p>
            <h5>Orchard Forums</h5>
            <p class="content">If you are looking for a general forum to discuss and ask questions about Orchard, please <a href="http://orchard.codeplex.com/discussions">visit our forums</a>:</p>
            <ul class="list">
                <li><b><a href="http://orchard.codeplex.com/discussions">Orchard discussions, support and help</a></b></li>
            </ul>
            <h5>Weekly meeting</h5>
            <p>The steering committee, and whoever wants to attend or show demos, meets every Tuesday at 12:00PM pacific time at <a href="http://orchardproject.net/meeting">http://orchardproject.net/meeting</a>.</p>
            <h5>Orchard Mailing List</h5>
            <p class="content">The Orchard mailing list is the primary way to stay in touch with announcements and the latest project status. It is also a way to participate in broad email discussions with other mailing list members.</p>
            <p class="content">If you'd like to be added to the list, please send a blank message to <a href="mailto:join-orchard-discuss@lists.outercurve.org">join-orchard-discuss@lists.outercurve.org</a>, or send us direct email at <a href="mailto:orchardfeedback@outercurve.org">orchardfeedback@outercurve.org</a> to let us know more about your interest in Orchard. To unsubscribe just send a blank email to&nbsp;<a href="mailto:leave-orchard-discuss@lists.outercurve.org">leave-orchard-discuss@lists.outercurve.org</a>.</p>
            <p class="content">We have a mailing list for the steering committee activities: <a href="http://groups.google.com/group/orchard-gov">http://groups.google.com/group/orchard-gov</a>. This list is where governance topics are discussed, and where new core features are decided on.</p>
            <h5>JabbR</h5>
            <p>You can join us for a chat on JabbR. We are in the orchard room at&nbsp;<a href="https://jabbr.net/#/rooms/orchard">https://jabbr.net/#/rooms/orchard</a>.</p>
            <h5>IRC</h5>
            <p>You can join us for a chat on IRC. We are on channel #orchard on <a href="http://freenode.net">freenode</a>. Any IRC client should work, but you can also use Freenode's web chat client: <a href="http://webchat.freenode.net/">http://webchat.freenode.net/</a>.</p>
            <h5>Facebook</h5>
            <p>The Facebook page for the project can be found at&nbsp;<a href="https://www.facebook.com/orchardproject">https://www.facebook.com/orchardproject</a>.</p>
            <h5>Communities</h5>
            <p>Local resources for Orchard can be found on the following sites:</p>
            <ul>
                <li>Belgique:&nbsp; <a href="http://www.orchardproject.be/">http://www.orchardproject.be/</a></li>
                <li>China:&nbsp; <a href="http://www.orchardch.com/">http://www.orchardch.com/</a></li>
                <li>Colombia:&nbsp;<a href="http://www.orchardproject.co/">http://www.orchardproject.co/</a></li>
                <li>Hispana:&nbsp;<a href="http://www.orchardhispano.com/">http://www.orchardhispano.com/</a></li>
                <li>France:&nbsp;<a href="http://orchardproject.fr/">http://orchardproject.fr/</a></li>
                <li>Iran:&nbsp;<a href="http://orchardpro.ir/">http://orchardpro.ir/</a></li>
                <li>Italia:&nbsp; <a href="http://www.orcharditalia.net/">http://www.orcharditalia.net/</a></li>
                <li>Magyarország:&nbsp;<a href="http://orchardproject.hu/">http://orchardproject.hu/</a></li>
                <li>Nederland:&nbsp;<a href="http://orchard-project.nl/">http://orchard-project.nl/</a></li>
                <li>Portugal:&nbsp;<a href="http://www.orchardproject.pt/">http://www.orchardproject.pt/</a></li>
                <li>Russia:&nbsp; <a href="http://orchardproject.net.ru/">http://orchardproject.net.ru/</a></li>
                <li>Switzerland:&nbsp;<a href="http://www.orchardproject.ch/">http://www.orchardproject.ch/</a></li>
            </ul>
        </div>
    </div>
</article>