<article id="support" class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="page-header page-header-top">
                <h1>Support</h1>
            </header>
        </div>
    </div>
</article>