<article id="support" class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="page-header">
                <h1>Support</h1>
                <p>There are a couple ways that interested developers can discuss and get connected to the project.</p>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <section>
                <div class="row">
                    <div class="col-md-6">
                        <h2>Orchard Forums</h2>
                        <p>If you are looking for a general forum to discuss and ask questions about Orchard, please <a href="http://orchard.codeplex.com/discussions">visit our forum</a>.</p>
                    </div>
                    <div class="col-md-6">
                        <h2>Weekly meeting</h2>
                        <p>The steering committee, and whoever wants to attend or show demos, meets every Tuesday at 12:00 PM pacific time at <a href="http://orchardproject.net/meeting">http://orchardproject.net/meeting</a>.</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Orchard Mailing List</h2>
                        <p>The Orchard mailing list is the primary way to stay in touch with announcements and the latest project status. It is also a way to participate in broad email discussions with other mailing list members.</p>
                        <p>If you'd like to be added to the list, please send a blank message to <a href="mailto:join-orchard-discuss@lists.outercurve.org">join-orchard-discuss@lists.outercurve.org</a>, or send us direct email at <a href="mailto:orchardfeedback@outercurve.org">orchardfeedback@outercurve.org</a> to let us know more about your interest in Orchard. To unsubscribe just send a blank email to&nbsp;<a href="mailto:leave-orchard-discuss@lists.outercurve.org">leave-orchard-discuss@lists.outercurve.org</a>.</p>
                        <p>We have a mailing list for the steering committee activities: <a href="http://groups.google.com/group/orchard-gov">http://groups.google.com/group/orchard-gov</a>. This list is where governance topics are discussed, and where new core features are decided on.</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="col-md-4">
                        <h2>JabbR</h2>
                        <p>You can join us for a chat on JabbR. We are in the orchard room at&nbsp;<a href="https://jabbr.net/#/rooms/orchard">https://jabbr.net/#/rooms/orchard</a>.</p>
                    </div>
                    <div class="col-md-4">
                        <h2>IRC</h2>
                        <p>You can join us for a chat on IRC. We are on channel #orchard on <a href="http://freenode.net">freenode</a>. Any IRC client should work, but you can also use Freenode's web chat client: <a href="http://webchat.freenode.net/">http://webchat.freenode.net/</a>.</p>
                    </div>
                    <div class="col-md-4">
                        <h2>Facebook</h2>
                        <p>The Facebook page for the project can be found at&nbsp;<a href="https://www.facebook.com/orchardproject">https://www.facebook.com/orchardproject</a>.</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <section>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2 class="panel-title">Communities</h2>
                        <span>Local resources for Orchard can be found on the following sites.</span>
                    </div>
                    <div class="panel-body">

                        <dl>
                            <dt>Belgique</dt>
                            <dd><a href="http://www.orchardproject.be/">http://www.orchardproject.be/</a></dd>
                            <dt>China</dt>
                            <dd><a href="http://www.orchardch.com/">http://www.orchardch.com/</a></dd>
                            <dt>Colombia</dt>
                            <dd><a href="http://www.orchardproject.co/">http://www.orchardproject.co/</a></dd>
                            <dt>Hispana</dt>
                            <dd><a href="http://www.orchardhispano.com/">http://www.orchardhispano.com/</a></dd>
                            <dt>France</dt>
                            <dd><a href="http://orchardproject.fr/">http://orchardproject.fr/</a></dd>
                            <dt>Iran</dt>
                            <dd><a href="http://orchardpro.ir/">http://orchardpro.ir/</a></dd>
                            <dt>Italia</dt>
                            <dd><a href="http://www.orcharditalia.net/">http://www.orcharditalia.net/</a></dd>
                            <dt>Magyarország</dt>
                            <dd><a href="http://orchardproject.hu/">http://orchardproject.hu/</a></dd>
                            <dt>Nederland</dt>
                            <dd><a href="http://orchard-project.nl/">http://orchard-project.nl/</a></dd>
                            <dt>Portugal</dt>
                            <dd><a href="http://www.orchardproject.pt/">http://www.orchardproject.pt/</a></dd>
                            <dt>Russia</dt>
                            <dd><a href="http://orchardproject.net.ru/">http://orchardproject.net.ru/</a></dd>
                            <dt>Switzerland</dt>
                            <dd><a href="http://www.orchardproject.ch/">http://www.orchardproject.ch/</a></dd>
                        </dl>
                    </div>
                </div>
            </section>
        </div>
    </div>
</article>