article {
    margin-bottom: 20px;


    header {

        &.page-header {
            border: none;

            h1, h2, h3, h4, h5, h6 {
            }

            &.page-header-top {
                border-bottom: thin solid @orchard-color-border;
            }
        }
    }

    section {
        padding-top: 20px;
        padding-bottom: 40px;
        border-bottom: thin solid @orchard-color-border;

        &:last-child {
            border-bottom: none;
        }
    }
}
