article#community {

    .affix {
        top: 5px;
    }

    section {
        margin-left: 40px;
    }

    figure {
        .center-block;

        header {
            margin-top: 0;
            margin-bottom: 20px;
        }

        img {
            .img-circle;
            width: 150px;
        }

        figcaption {

            h1, h2, h3, h4, h5, h6 {
                font-weight: bolder;
                text-transform: none;
            }
        }

        button {
            .btn;
            .btn-info;
            .btn-sm;
            .center-block;
        }
    }

    nav {
        @subnav-item-vertical-spacing:12.5px;
        margin-top: 20px;
        margin-left: 0;
        border-bottom: none;

        ul {
            li {
                padding-bottom:@subnav-item-vertical-spacing;
                text-transform: uppercase;
                font-size: @font-size-h4;

                li:last-child {
                    padding-bottom: 0;
                }

                ul {
                    // nested list
                    padding-left:@subnav-item-vertical-spacing * 2;
                    padding-top:@subnav-item-vertical-spacing;
                }
            }
        }

        img {
            margin-bottom: 20px;
        }
    }

    #popular-resources {
        header {
            margin-top: 0;
        }
    }

    #community-blog {
        header {
            margin-bottom: 0;
        }

        ul.blogposts {
            list-style: none;
            padding-left: 0;

            li.post {
                margin-top: 30px;
                padding-bottom: 20px;

                .meta {
                    margin: 0;
                }

                h3 {
                    margin-top: 0;
                    margin-bottom: 20px;
                }

                img {
                    margin-bottom: 20px;
                }

                a.read-more {
                    text-decoration: none;

                    h5 {
                        font-weight: bold;
                    }
                }

                ul {
                    padding-left: 15px;
                }
            }

            li.post:last-child {
                border-bottom: none;
            }
        }
    }
}
