@import "../bootstrap/variables.less";

.nav.nav-pills {
    a {
        background-color: @gray-darker;
        color: white;        
    }

    &.nav-justified > li > a
        {
        margin-left:4px;
        margin-right:4px;
    }
}
